*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

/*! common-style start */
.common-section .first{
    width: 1170px;
    border: 0.1px dashed rgba(19, 19, 24, 0.05);
    margin-bottom: 32px;
}
.common-section .last{
    border-width: max(1px, 0.1em);
    border-style: dashed;
    border-color: rgba(19, 19, 24, 0.05);
    
    margin-top: 32px;
}
.hero{
    background: linear-gradient(45deg,rgba(19, 19, 24, 0.80),rgba(19, 19, 24, 0.15)),url(../images/banner2.png);
}
.hero2{
    background: linear-gradient(45deg,rgba(19, 19, 24, 0.50),rgba(19, 19, 24, 0.15)),url(../images/banner3.png);
}
.hero3{
    background: linear-gradient(45deg,rgba(19, 19, 24, 0.50),rgba(19, 19, 24, 0.15)),url(../images/banner4.png);
    background-repeat: no-repeat;
}
input::placeholder{
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
}

/*! common-style end */

/*? Mobile */
@media screen and (max-width: 640px) {
    .common-section .first{
        width: 335px;
        margin-bottom: 24px;
    }
    .common-section .last{
        margin-top: 24px;
    }
}